/* Custom styles */

.sidebar {  
  
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px; 
    padding: 20px 0;
    background: rgb(255,251,251);
background: linear-gradient(90deg, rgba(255,251,251,1) 0%, rgba(212,212,212,1) 100%, rgba(0,0,0,1) 100%);
   font-size: larger;
   font-weight: bolder;
    color: whitesmoke;
    color: white;
    z-index: 100;
    box-shadow: inset -1px 0 0 grey;
    
  }
  .nav-item{

   color: white;
  }
  .card-body{
    background: rgb(8,8,8);
    background: linear-gradient(90deg, rgba(8,8,8,1) 0%, rgba(212,212,212,1) 100%, rgba(0,0,0,1) 100%);
    color: whitesmoke;
    font-size: larger;
    font-weight:bolder;
    border: none;
  }
  
  .cards {
    color:whitesmoke;
    font-size: xx-large;    
    align-self: center;

  }
  
  .main-content {
    margin-left: 240px; 
  }
  
  @media (max-width: 768px) {
    .sidebar {
      position: static; 
      width: 100%; 
      box-shadow: none; 
      margin-bottom: 20px; 
    }
  
    .main-content {
      margin-left: 0; /* Remove left margin on smaller screens */
    }
  }
  